.innerContent {
    width: 80vw;
    margin: 100px auto;
}

.calcWrapper {
    display: flex;
    flex-direction: column;
}

.commandBlock {
    display: flex;
    margin-bottom: 20px;
}

.inputOutputBlock {
    display: flex;
    justify-content: space-between;
}

.commandInputWrapper {
    display: flex;
    flex-basis: 48%;
    flex-direction: column;
    margin-right: 40px;
}

.btn {
    border: none;
    background-color: lightblue;
    border-radius: 10px;
    height: 29px;
    align-self: flex-end;
    padding: 4px 20px;
    cursor: pointer;

    &:hover {
        background-color: darken(lightblue, 10%);
    }
}

.commandLabel,
.inputLabel,
.outputLabel {
    text-align: left;
    margin-bottom: 10px;
}

.commandInput {
    min-height: 29px;
}

.inputBlock,
.outputBlock {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
}

.inputArea,
.outputArea {
    resize: none;
    min-height: 200px;
}
